<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">

    <div class="login-form__fields">
        <p-iftalabel class="login-form__fields--field">
            <label for="email">Email</label>
            <input fluid id="email" type="email" pInputText formControlName="email" />
            <div class="login-form__fields--field__error">
                <p-message
                    *ngIf="form.get('email')?.errors?.['required'] && (form.get('email')?.dirty || form.get('email')?.touched)"
                    severity="error" size="small" variant="simple">Email is required.</p-message>
                <p-message
                    *ngIf="form.get('email')?.errors?.['email'] && (form.get('email')?.dirty || form.get('email')?.touched)"
                    severity="error" size="small" variant="simple">Invalid email format.</p-message>
            </div>
        </p-iftalabel>
        <p-iftalabel class="login-form__fields--field">
            <p-password fluid inputId="password" formControlName="password" [feedback]="false" autocomplete="off"
                [toggleMask]="true"></p-password>
            <label for="password">Password</label>
            <div class="login-form__fields--field__error">
                <p-message
                    *ngIf="form.get('password')?.errors?.['required'] && (form.get('password')?.dirty || form.get('password')?.touched)"
                    severity="error" size="small" variant="simple">Password is required.</p-message>
            </div>
        </p-iftalabel>
        <div class="login-form__actions">
            <p-button fluid type="submit" label="Login" [disabled]="form.invalid || (loading$ | async)"
                [loading]="loading$ | async"></p-button>
        </div>
        <div *ngIf="error$ | async as error">
            <p-message severity="error" size="small" variant="text">{{ error?.message || error }}</p-message>
        </div>
    </div>

</form>