.login-form {
    &__fields {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &--field {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            &__error {
                margin-left: 0.7rem;

                p-message {
                    --p-message-text-sm-font-size: 0.7rem;
                }
            }
        }
    }

}